# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Django
db.sqlite3
*.log
media/

# Environment variables
.env
.env.*

# Editors and operating systems
.vscode/
.idea/
.DS_Store
Thumbs.db